<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.7.5" targetFramework="net452" />
  <package id="FCTB" version="2.16.24" targetFramework="net452" />
  <package id="GraphQL.Client" version="5.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Abstractions" version="5.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="5.1.0" targetFramework="net48" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="5.1.0" targetFramework="net48" />
  <package id="GraphQL.Common" version="1.0.3" targetFramework="net452" requireReinstallation="true" />
  <package id="GraphQL.Primitives" version="5.1.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.5" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1343.22" targetFramework="net48" />
  <package id="NBitcoin" version="7.0.11" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net452" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Noesis.Javascript" version="0.7.1.0" targetFramework="net452" />
  <package id="RestSharp" version="108.0.2" targetFramework="net48" />
  <package id="SharpLua" version="2.1.1.1" targetFramework="net4-client" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net48" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net45" />
  <package id="System.IO" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net48" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net452" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net45" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net45" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net45" />
  <package id="TwoStepsAuthenticator" version="1.4.1" targetFramework="net48" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
</packages>